@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2> JDP Airlines - Aplikacija za interno upravljanje kompanijom </h2>
    <div class="row">
        <form class="form-inline" method="post">
            <div class="form-group mb-2 mr-2">
                <input type="text" class="form-control" placeholder="Korisnicko ime" asp-for="Username">
            </div>
            <div class="form-group  mb-2 mr-2">
                <input type="password" class="form-control" placeholder="Sifra" asp-for="Password">
            </div>
            <button type="submit" class="btn btn-primary mb-2" asp-page-handler="korisnik">Ulogujte se</button>
        </form>
    </div>

 <img class="img-fluid" src="https://scx2.b-cdn.net/gfx/news/hires/2019/toomanyairpl.jpg"  />